.home {
  align-items: center;
  background-color: #f2f2f2;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  min-height: 100vh;
  width: 100%;

  &__welcome {
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 5px 10px 0 rgb(0 0 0 / 10%);
    overflow: hidden;
    padding: 10px 40px;
    width: 390px;

    .user {
      height: 150px;
    }
  }

  &__title {
    color: #333;
    display: block;
    font-size: 30px;
    font-weight: 500;
    margin: 10px 0 60px;
    text-align: center;
  }

  &__wrapper {
    width: 100%;

    &--center {
      text-align: center;
    }

    &--buttons {
      align-items: center;
      display: flex;
    }
  }

  &__btn {
    margin: 0 5px;
  }

  &__footer {
    margin-top: 30px;
    text-align: center;

    svg {
      fill: #333;
      cursor: pointer;
      height: 24px;
      margin: 0 5px;
      transition: .3s;
      width: 24px;

      &:hover {
        fill: #aaa;
      }
    }
  }
}
